class CliPocket < Formula
  desc     "Cross-platform remote terminal (daemon + relay + CLI)"
  homepage "https://github.com/32r4/cli-pocket"
  version  "@VERSION@"
  license  "MIT OR Apache-2.0"

  on_macos do
    if Hardware::CPU.arm?
      url      "https://github.com/32r4/cli-pocket/releases/download/v@VERSION@/cli-pocket-daemon-@VERSION@-macos-arm64.tar.gz"
      sha256   "@SHA_DARWIN_ARM64@"
    else
      url      "https://github.com/32r4/cli-pocket/releases/download/v@VERSION@/cli-pocket-daemon-@VERSION@-macos-x64.tar.gz"
      sha256   "@SHA_DARWIN_X86_64@"
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url      "https://github.com/32r4/cli-pocket/releases/download/v@VERSION@/cli-pocket-daemon-@VERSION@-linux-arm64.tar.gz"
      sha256   "@SHA_LINUX_ARM64@"
    else
      url      "https://github.com/32r4/cli-pocket/releases/download/v@VERSION@/cli-pocket-daemon-@VERSION@-linux-x64.tar.gz"
      sha256   "@SHA_LINUX_X86_64@"
    end
  end

  def install
    bin.install "cli-pocket-daemon"
  end

  test do
    system "#{bin}/cli-pocket-daemon", "--version"
  end
end
